<section>
  <mat-list>
    <mat-list-item *ngFor="let article of articles">
      <div mat-line><strong>{{ article.name }}</strong></div>
      <div mat-line>Current bid: {{ article.currentPrice }}</div>
      <div mat-line>Last bidder: {{ article.lastBidder }}</div>
      <div mat-line *ngIf="isActive(article.endingDate)">Ends the: {{ article.endingDate * 1000 | date: 'dd-MM-yyyy HH:mm:ss' }}</div>
      <div mat-line *ngIf="isActive(article.endingDate)">
        <button mat-icon-button [routerLink]="['/articles/bid/',article.id]">Details & bid</button>
      </div>
      <div mat-line *ngIf="!isActive(article.endingDate)">Ended the: {{ article.endingDate * 1000 | date: 'dd-MM-yyyy HH:mm:ss' }}</div>
      <div mat-line *ngIf="!isActive(article.endingDate)">
        <button mat-icon-button [routerLink]="['/articles/details',article.id]">Details</button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</section>
