<section style="margin-bottom: 10px;" >
  <span *ngIf="isLoggedIn">
    <p>You are logged in as {{ userName }}</p>
    <button mat-stroked-button color="primary" style="margin-bottom: 10px" (click)="logOut()">
      Logout
    </button>
    <p><a [routerLink]="['/home']">Home page</a></p>
    <p><a [routerLink]="['/articles/search']">Browse articles</a></p>
    <p><a [routerLink]="['/articles']">My articles</a></p>
    <p><a [routerLink]="['/articles/mybids']">My auctions</a></p>
    <p><a [routerLink]="['/orders']">My orders</a></p>
    <div *ngIf="offerRebate > 0 && offerCategory !== ''">
      <p>Offer of the day: <strong>{{ offerRebate }}% off</strong> on <strong>{{ offerCategory }}</strong> articles</p>
      <p>Order an item of this category of an auction you won and receive a rebate! (valid only within the 3 first days
        following the end of the auction)</p>
    </div>
  </span>
  <span *ngIf="!isLoggedIn">
    <p>You are not logged in</p>
    <p>
      <button mat-stroked-button color="primary" [routerLink]="['/signup']">
        Register
      </button>
      <button mat-stroked-button color="primary" [routerLink]="['/login']">
        Login
      </button>
    </p>
    <p><a [routerLink]="['/home']">Home page</a></p>
    <p><a [routerLink]="['/articles/search']">Browse articles</a></p>
  </span>
  <mat-divider></mat-divider>
</section>
