<h1>Received orders</h1>
<mat-list>
  <mat-list-item *ngFor="let order of orders">
    <div mat-line><strong>{{ fetchArticle(order.articleId).name }}</strong></div>
    <div mat-line>Order ID: {{ order.id }}</div>
    <div mat-line>Description: {{ fetchArticle(order.articleId).description }}</div>
    <div mat-line>Price: {{ fetchArticle(order.articleId).currentPrice | number:'1.2-2' }}€</div>
    <div mat-line>Buyer: {{ order.buyer }}</div>
    <div mat-line>Status: <u>{{ order.status }}</u></div>
    <div mat-line>
      <button mat-raised-button color="primary" *ngIf="order.status === UpdateOrderComponent.ORDERSTEPONE || order.status === UpdateOrderComponent.ORDERSTEPTWO" [routerLink]="['/orders/received/update', order.id]">Details & update</button>
      <button mat-raised-button color="primary" *ngIf="order.status !== UpdateOrderComponent.ORDERSTEPONE && order.status !== UpdateOrderComponent.ORDERSTEPTWO" [routerLink]="['/orders/received/update', order.id]">Details</button>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
