<h1>My articles</h1>
<section>
  <button mat-raised-button color="primary" [routerLink]="['new']">Add article for sale</button>
  <mat-list>
    <mat-list-item *ngFor="let article of articles">
      <div mat-line><strong>{{ article.name }}</strong></div>
      <div mat-line *ngIf="isActive(article.endingDate)">Ends the: {{ article.endingDate * 1000 | date: 'dd-MM-yyyy HH:mm:ss' }}</div>
      <div mat-line *ngIf="isActive(article.endingDate)">
        <button mat-icon-button style="margin-right: 10px" [routerLink]="['/articles/details',article.id]">Details</button>
        <button mat-icon-button (click)="deleteArticle(article.id)">Delete</button>
      </div>
      <div mat-line *ngIf="!isActive(article.endingDate)">Ended the: {{ article.endingDate * 1000 | date: 'dd-MM-yyyy HH:mm:ss' }}</div>
      <div mat-line *ngIf="!isActive(article.endingDate)"><button mat-icon-button [routerLink]="['/articles/details/', article.id]">Details</button></div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</section>
